body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h3{
    color:tomato
}
.color1{
    color: orange
}
.color2{
    color:#da3333fd
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 12%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(199, 74, 16), tomato);
    padding:10px 50px;
    border-radius: 20px;
    color: whitesmoke;
    font-weight: bold;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
